**/settings.ini*
FilesAndStuffs/ImportsDataFrom3rdParty/Tanakh/FromSefaria/.vs
FilesAndStuffs/ImportsDataFrom3rdParty/TalmudBavli/Code/parsed_shas/
__pycache__/
*/settings.ini
FilesAndStuffs/ImportsDataFrom3rdParty/TalmudBavli/Code/Test_xml
FilesAndStuffs/ImportsDataFrom3rdParty/TalmudBavli/Code/FromXMLToDB/.idea
FilesAndStuffs/ImportsDataFrom3rdParty/TalmudBavli/Code/DB_Table_creation/.idea
