**/settings.ini*
**/*.ini*
**/*.csv*
**/.vs
**/__pycache__
**/.idea
FilesAndStuffs/ImportsDataFrom3rdParty/TalmudBavli/Code/Test_xml
UI/UI_MAIN_PROJECT/config/database.php
UI/UI_MAIN_PROJECT/composer.lock
