table.table a {
    margin: 0;
    color: #212529;
    font-size: x-large;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link{
    border-radius: 20px;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover{
    border-radius: 20px;
}

#wordcloud{
    width: 450px;
    height: 600px;
    margin: 0 auto;
    display: block;
}