[XML]
current_dir=C:\git\BitWise\limud-kodesh\ImportsData\Tanakh\FromSefaria\XMLFilesProcessed
[SQL]
server=PSACHIM
table_names=TBL_TANAKH_WORD
database_name=KiMeTzion
[CSV]
csv_file_name=C:\git\BitWise\limud-kodesh\database\DB_Table_creation\Tanakh_sefaria_word_to_DB\TBL_TANAKH_WORD_DATA_INSERT.csv