body {font-family:David;color:#000000;background-color:#FFFFFF;margin:1.5em;}
p {font-size:165%;text-align:justify;}
p.r {font-size:165%;text-align:right;}
p.s {font-size:100%;text-align:justify;}
tr {font-size:100%;}
h1 {font-size:260%;}
h2 {font-size:210%;}
h3 {font-size:180%;}
big {font-size:120%;}
small {font-size:80%;}
